# Only .github and .vscode allowed
.*/
!.github/
!.vscode/

# Dependencies
node_modules/

# build/ is intentionally tracked for installation from GitHub.

# npm packages
iobroker.*.tgz

# ENV
.env

# OS
.DS_Store

# Tooling
.commitinfo
