# Only .github and .vscode allowed
.*/
!.github/
!.vscode/

# Dependencies
node_modules/

# npm packages
iobroker.*.tgz

# ENV
.env

# OS
.DS_Store
#ignore .commitinfo created by ioBroker release script
.commitinfo
